[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
	ignore = all
[submodule "signaling-server-bomb"]
	path = signaling-server-bomb
	url = https://github.com/S3B4S/signaling-server-bomb
